/* This file is for your main application css. */

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-text {
    font-size: 64px;
}
.medium-text {
    font-size: 32px;
}

.diagram {
    margin: 300px 0px;
}